# PREDICTING HOUSE SALE PRICES

In this project, we have data from [here](https://www.tandfonline.com/doi/abs/10.1080/10691898.2011.11889627). The data is collected from housing data which is in the city of Ames, Iowa, United States from 2006 to 2010. If you need description of columns, you can reach the document from [here](https://s3.amazonaws.com/dq-content/307/data_description.txt).

Our aim is to understand the average RMSE value by predicting by using linear regression modelling. At the outset we will start with feature engineering, after that we will define functions to get average RMSE value.

### Opening Data

In [1]:
import pandas as pd
import numpy as np
pd.options.display.max_columns= 999
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error
from sklearn import linear_model

In [2]:
df= pd.read_csv("AmesHousing.tsv", delimiter="\t")

In [3]:
df.head()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,Lot Config,Land Slope,Neighborhood,Condition 1,Condition 2,Bldg Type,House Style,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Roof Style,Roof Matl,Exterior 1st,Exterior 2nd,Mas Vnr Type,Mas Vnr Area,Exter Qual,Exter Cond,Foundation,Bsmt Qual,Bsmt Cond,Bsmt Exposure,BsmtFin Type 1,BsmtFin SF 1,BsmtFin Type 2,BsmtFin SF 2,Bsmt Unf SF,Total Bsmt SF,Heating,Heating QC,Central Air,Electrical,1st Flr SF,2nd Flr SF,Low Qual Fin SF,Gr Liv Area,Bsmt Full Bath,Bsmt Half Bath,Full Bath,Half Bath,Bedroom AbvGr,Kitchen AbvGr,Kitchen Qual,TotRms AbvGrd,Functional,Fireplaces,Fireplace Qu,Garage Type,Garage Yr Blt,Garage Finish,Garage Cars,Garage Area,Garage Qual,Garage Cond,Paved Drive,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,Norm,1Fam,1Story,6,5,1960,1960,Hip,CompShg,BrkFace,Plywood,Stone,112.0,TA,TA,CBlock,TA,Gd,Gd,BLQ,639.0,Unf,0.0,441.0,1080.0,GasA,Fa,Y,SBrkr,1656,0,0,1656,1.0,0.0,1,0,3,1,TA,7,Typ,2,Gd,Attchd,1960.0,Fin,2.0,528.0,TA,TA,P,210,62,0,0,0,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Feedr,Norm,1Fam,1Story,5,6,1961,1961,Gable,CompShg,VinylSd,VinylSd,None,0.0,TA,TA,CBlock,TA,TA,No,Rec,468.0,LwQ,144.0,270.0,882.0,GasA,TA,Y,SBrkr,896,0,0,896,0.0,0.0,1,0,2,1,TA,5,Typ,0,NaN,Attchd,1961.0,Unf,1.0,730.0,TA,TA,Y,140,0,0,0,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,Norm,1Fam,1Story,6,6,1958,1958,Hip,CompShg,Wd Sdng,Wd Sdng,BrkFace,108.0,TA,TA,CBlock,TA,TA,No,ALQ,923.0,Unf,0.0,406.0,1329.0,GasA,TA,Y,SBrkr,1329,0,0,1329,0.0,0.0,1,1,3,1,Gd,6,Typ,0,NaN,Attchd,1958.0,Unf,1.0,312.0,TA,TA,Y,393,36,0,0,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,AllPub,Corner,Gtl,NAmes,Norm,Norm,1Fam,1Story,7,5,1968,1968,Hip,CompShg,BrkFace,BrkFace,None,0.0,Gd,TA,CBlock,TA,TA,No,ALQ,1065.0,Unf,0.0,1045.0,2110.0,GasA,Ex,Y,SBrkr,2110,0,0,2110,1.0,0.0,2,1,3,1,Ex,8,Typ,2,TA,Attchd,1968.0,Fin,2.0,522.0,TA,TA,Y,0,0,0,0,0,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,Gilbert,Norm,Norm,1Fam,2Story,5,5,1997,1998,Gable,CompShg,VinylSd,VinylSd,None,0.0,TA,TA,PConc,Gd,TA,No,GLQ,791.0,Unf,0.0,137.0,928.0,GasA,Gd,Y,SBrkr,928,701,0,1629,0.0,0.0,2,1,3,1,TA,6,Typ,1,TA,Attchd,1997.0,Fin,2.0,482.0,TA,TA,Y,212,34,0,0,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

In [4]:
# In this step we make our first feature transformation.
def transform_features(df):
    return df
#In this step we make our first feature selection.
def select_features(df):
    return df[['Gr Liv Area', 'SalePrice']]
#In this step we make our first prediction function which gives the RMSE value.
def train_and_test(df):
    train= df[:1460]
    test= df[1460:]
    # We select only numeric columns
    numeric_train= train.select_dtypes(include= ['integer','float'])
    numeric_test= test.select_dtypes(include= ['integer','float'])
    # We drop the 'SalePrice' column, because we will predict the price in this prediction.
    features =numeric_train.columns.drop('SalePrice')
    lr= linear_model.LinearRegression()
    lr.fit(train[features], train['SalePrice'])
    predictions= lr.predict(test[features])
    mse= mean_squared_error(test['SalePrice'],predictions)
    rmse= np.sqrt(mse)
    
    return rmse


transform_df=transform_features(df)
filtered_df= select_features(transform_df)
rmse= train_and_test(filtered_df)

print("Our first RMSE value: ", rmse)

Our first RMSE value:  57088.25161263909

### Feature Engineering

In [5]:
df.describe()

,Order,PID,MS SubClass,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,Total Bsmt SF,1st Flr SF,2nd Flr SF,Low Qual Fin SF,Gr Liv Area,Bsmt Full Bath,Bsmt Half Bath,Full Bath,Half Bath,Bedroom AbvGr,Kitchen AbvGr,TotRms AbvGrd,Fireplaces,Garage Yr Blt,Garage Cars,Garage Area,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,SalePrice
count,2930.00000,2.930000e+03,2930.000000,2440.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2907.000000,2929.000000,2929.000000,2929.000000,2929.000000,2930.000000,2930.000000,2930.000000,2930.000000,2928.000000,2928.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2771.000000,2929.000000,2929.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000
mean,1465.50000,7.144645e+08,57.387372,69.224590,10147.921843,6.094881,5.563140,1971.356314,1984.266553,101.896801,442.629566,49.722431,559.262547,1051.614544,1159.557679,335.455973,4.676792,1499.690444,0.431352,0.061134,1.566553,0.379522,2.854266,1.044369,6.443003,0.599317,1978.132443,1.766815,472.819734,93.751877,47.533447,23.011604,2.592491,16.002048,2.243345,50.635154,6.216041,2007.790444,180796.060068
std,845.96247,1.887308e+08,42.638025,23.365335,7880.017759,1.411026,1.111537,30.245361,20.860286,179.112611,455.590839,169.168476,439.494153,440.615067,391.890885,428.395715,46.310510,505.508887,0.524820,0.245254,0.552941,0.502629,0.827731,0.214076,1.572964,0.647921,25.528411,0.760566,215.046549,126.361562,67.483400,64.139059,25.141331,56.087370,35.597181,566.344288,2.714492,1.316613,79886.692357
min,1.00000,5.263011e+08,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,0.000000,0.000000,0.000000,334.000000,0.000000,0.000000,334.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,1895.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,12789.000000
25%,733.25000,5.284770e+08,20.000000,58.000000,7440.250000,5.000000,5.000000,1954.000000,1965.000000,0.000000,0.000000,0.000000,219.000000,793.000000,876.250000,0.000000,0.000000,1126.000000,0.000000,0.000000,1.000000,0.000000,2.000000,1.000000,5.000000,0.000000,1960.000000,1.000000,320.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000,129500.000000
50%,1465.50000,5.354536e+08,50.000000,68.000000,9436.500000,6.000000,5.000000,1973.000000,1993.000000,0.000000,370.000000,0.000000,466.000000,990.000000,1084.000000,0.000000,0.000000,1442.000000,0.000000,0.000000,2.000000,0.000000,3.000000,1.000000,6.000000,1.000000,1979.000000,2.000000,480.000000,0.000000,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,160000.000000
75%,2197.75000,9.071811e+08,70.000000,80.000000,11555.250000,7.000000,6.000000,2001.000000,2004.000000,164.000000,734.000000,0.000000,802.000000,1302.000000,1384.000000,703.750000,0.000000,1742.750000,1.000000,0.000000,2.000000,1.000000,3.000000,1.000000,7.000000,1.000000,2002.000000,2.000000,576.000000,168.000000,70.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,213500.000000
max,2930.00000,1.007100e+09,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,1526.000000,2336.000000,6110.000000,5095.000000,2065.000000,1064.000000,5642.000000,3.000000,2.000000,4.000000,2.000000,8.000000,3.000000,15.000000,4.000000,2207.000000,5.000000,1488.000000,1424.000000,742.000000,1012.000000,508.000000,576.000000,800.000000,17000.000000,12.000000,2010.000000,755000.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Data columns (total 82 columns):
Order              2930 non-null int64
PID                2930 non-null int64
MS SubClass        2930 non-null int64
MS Zoning          2930 non-null object
Lot Frontage       2440 non-null float64
Lot Area           2930 non-null int64
Street             2930 non-null object
Alley              198 non-null object
Lot Shape          2930 non-null object
Land Contour       2930 non-null object
Utilities          2930 non-null object
Lot Config         2930 non-null object
Land Slope         2930 non-null object
Neighborhood       2930 non-null object
Condition 1        2930 non-null object
Condition 2        2930 non-null object
Bldg Type          2930 non-null object
House Style        2930 non-null object
Overall Qual       2930 non-null int64
Overall Cond       2930 non-null int64
Year Built         2930 non-null int64
Year Remod/Add     2930 non-null int64
Roof Style         2930 non-null object
Roof Matl          2930 non-null object
Exterior 1st       2930 non-null object
Exterior 2nd       2930 non-null object
Mas Vnr Type       2907 non-null object
Mas Vnr Area       2907 non-null float64
Exter Qual         2930 non-null object
Exter Cond         2930 non-null object
Foundation         2930 non-null object
Bsmt Qual          2850 non-null object
Bsmt Cond          2850 non-null object
Bsmt Exposure      2847 non-null object
BsmtFin Type 1     2850 non-null object
BsmtFin SF 1       2929 non-null float64
BsmtFin Type 2     2849 non-null object
BsmtFin SF 2       2929 non-null float64
Bsmt Unf SF        2929 non-null float64
Total Bsmt SF      2929 non-null float64
Heating            2930 non-null object
Heating QC         2930 non-null object
Central Air        2930 non-null object
Electrical         2929 non-null object
1st Flr SF         2930 non-null int64
2nd Flr SF         2930 non-null int64
Low Qual Fin SF    2930 non-null int64
Gr Liv Area        2930 non-null int64
Bsmt Full Bath     2928 non-null float64
Bsmt Half Bath     2928 non-null float64
Full Bath          2930 non-null int64
Half Bath          2930 non-null int64
Bedroom AbvGr      2930 non-null int64
Kitchen AbvGr      2930 non-null int64
Kitchen Qual       2930 non-null object
TotRms AbvGrd      2930 non-null int64
Functional         2930 non-null object
Fireplaces         2930 non-null int64
Fireplace Qu       1508 non-null object
Garage Type        2773 non-null object
Garage Yr Blt      2771 non-null float64
Garage Finish      2771 non-null object
Garage Cars        2929 non-null float64
Garage Area        2929 non-null float64
Garage Qual        2771 non-null object
Garage Cond        2771 non-null object
Paved Drive        2930 non-null object
Wood Deck SF       2930 non-null int64
Open Porch SF      2930 non-null int64
Enclosed Porch     2930 non-null int64
3Ssn Porch         2930 non-null int64
Screen Porch       2930 non-null int64
Pool Area          2930 non-null int64
Pool QC            13 non-null object
Fence              572 non-null object
Misc Feature       106 non-null object
Misc Val           2930 non-null int64
Mo Sold            2930 non-null int64
Yr Sold            2930 non-null int64
Sale Type          2930 non-null object
Sale Condition     2930 non-null object
SalePrice          2930 non-null int64
dtypes: float64(11), int64(28), object(43)
memory usage: 1.8+ MB

There are columns which has null values, some of them has null values %5 or more. We need to drop this columns, because they are useless for our prediction. After that, we will drop the text columns which has at least 1 missing value. Finally, we will use the most common of the numeric columns to fill the null values in it.

In [7]:
num_missing= df.isnull().sum()
num_missing

Order                0
PID                  0
MS SubClass          0
MS Zoning            0
Lot Frontage       490
Lot Area             0
Street               0
Alley             2732
Lot Shape            0
Land Contour         0
Utilities            0
Lot Config           0
Land Slope           0
Neighborhood         0
Condition 1          0
Condition 2          0
Bldg Type            0
House Style          0
Overall Qual         0
Overall Cond         0
Year Built           0
Year Remod/Add       0
Roof Style           0
Roof Matl            0
Exterior 1st         0
Exterior 2nd         0
Mas Vnr Type        23
Mas Vnr Area        23
Exter Qual           0
Exter Cond           0
                  ...
Bedroom AbvGr        0
Kitchen AbvGr        0
Kitchen Qual         0
TotRms AbvGrd        0
Functional           0
Fireplaces           0
Fireplace Qu      1422
Garage Type        157
Garage Yr Blt      159
Garage Finish      159
Garage Cars          1
Garage Area          1
Garage Qual        159
Garage Cond        159
Paved Drive          0
Wood Deck SF         0
Open Porch SF        0
Enclosed Porch       0
3Ssn Porch           0
Screen Porch         0
Pool Area            0
Pool QC           2917
Fence             2358
Misc Feature      2824
Misc Val             0
Mo Sold              0
Yr Sold              0
Sale Type            0
Sale Condition       0
SalePrice            0
Length: 82, dtype: int64

In [8]:
#Drop columns which has >5% null values.
drop_missing_cols= num_missing[(num_missing> len(df)/20)].sort_values()

df= df.drop(drop_missing_cols.index, axis=1)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Data columns (total 71 columns):
Order              2930 non-null int64
PID                2930 non-null int64
MS SubClass        2930 non-null int64
MS Zoning          2930 non-null object
Lot Area           2930 non-null int64
Street             2930 non-null object
Lot Shape          2930 non-null object
Land Contour       2930 non-null object
Utilities          2930 non-null object
Lot Config         2930 non-null object
Land Slope         2930 non-null object
Neighborhood       2930 non-null object
Condition 1        2930 non-null object
Condition 2        2930 non-null object
Bldg Type          2930 non-null object
House Style        2930 non-null object
Overall Qual       2930 non-null int64
Overall Cond       2930 non-null int64
Year Built         2930 non-null int64
Year Remod/Add     2930 non-null int64
Roof Style         2930 non-null object
Roof Matl          2930 non-null object
Exterior 1st       2930 non-null object
Exterior 2nd       2930 non-null object
Mas Vnr Type       2907 non-null object
Mas Vnr Area       2907 non-null float64
Exter Qual         2930 non-null object
Exter Cond         2930 non-null object
Foundation         2930 non-null object
Bsmt Qual          2850 non-null object
Bsmt Cond          2850 non-null object
Bsmt Exposure      2847 non-null object
BsmtFin Type 1     2850 non-null object
BsmtFin SF 1       2929 non-null float64
BsmtFin Type 2     2849 non-null object
BsmtFin SF 2       2929 non-null float64
Bsmt Unf SF        2929 non-null float64
Total Bsmt SF      2929 non-null float64
Heating            2930 non-null object
Heating QC         2930 non-null object
Central Air        2930 non-null object
Electrical         2929 non-null object
1st Flr SF         2930 non-null int64
2nd Flr SF         2930 non-null int64
Low Qual Fin SF    2930 non-null int64
Gr Liv Area        2930 non-null int64
Bsmt Full Bath     2928 non-null float64
Bsmt Half Bath     2928 non-null float64
Full Bath          2930 non-null int64
Half Bath          2930 non-null int64
Bedroom AbvGr      2930 non-null int64
Kitchen AbvGr      2930 non-null int64
Kitchen Qual       2930 non-null object
TotRms AbvGrd      2930 non-null int64
Functional         2930 non-null object
Fireplaces         2930 non-null int64
Garage Cars        2929 non-null float64
Garage Area        2929 non-null float64
Paved Drive        2930 non-null object
Wood Deck SF       2930 non-null int64
Open Porch SF      2930 non-null int64
Enclosed Porch     2930 non-null int64
3Ssn Porch         2930 non-null int64
Screen Porch       2930 non-null int64
Pool Area          2930 non-null int64
Misc Val           2930 non-null int64
Mo Sold            2930 non-null int64
Yr Sold            2930 non-null int64
Sale Type          2930 non-null object
Sale Condition     2930 non-null object
SalePrice          2930 non-null int64
dtypes: float64(9), int64(28), object(34)
memory usage: 1.6+ MB

Now, we have dropped 9 columns.

In [10]:
#Drop text columns which has any null values.
text_mv_counts= df.select_dtypes(include=['object']).isnull().sum().sort_values(ascending=False)
drop_missing_cols_2= text_mv_counts[text_mv_counts>0]
df= df.drop(drop_missing_cols_2.index, axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Data columns (total 64 columns):
Order              2930 non-null int64
PID                2930 non-null int64
MS SubClass        2930 non-null int64
MS Zoning          2930 non-null object
Lot Area           2930 non-null int64
Street             2930 non-null object
Lot Shape          2930 non-null object
Land Contour       2930 non-null object
Utilities          2930 non-null object
Lot Config         2930 non-null object
Land Slope         2930 non-null object
Neighborhood       2930 non-null object
Condition 1        2930 non-null object
Condition 2        2930 non-null object
Bldg Type          2930 non-null object
House Style        2930 non-null object
Overall Qual       2930 non-null int64
Overall Cond       2930 non-null int64
Year Built         2930 non-null int64
Year Remod/Add     2930 non-null int64
Roof Style         2930 non-null object
Roof Matl          2930 non-null object
Exterior 1st       2930 non-null object
Exterior 2nd       2930 non-null object
Mas Vnr Area       2907 non-null float64
Exter Qual         2930 non-null object
Exter Cond         2930 non-null object
Foundation         2930 non-null object
BsmtFin SF 1       2929 non-null float64
BsmtFin SF 2       2929 non-null float64
Bsmt Unf SF        2929 non-null float64
Total Bsmt SF      2929 non-null float64
Heating            2930 non-null object
Heating QC         2930 non-null object
Central Air        2930 non-null object
1st Flr SF         2930 non-null int64
2nd Flr SF         2930 non-null int64
Low Qual Fin SF    2930 non-null int64
Gr Liv Area        2930 non-null int64
Bsmt Full Bath     2928 non-null float64
Bsmt Half Bath     2928 non-null float64
Full Bath          2930 non-null int64
Half Bath          2930 non-null int64
Bedroom AbvGr      2930 non-null int64
Kitchen AbvGr      2930 non-null int64
Kitchen Qual       2930 non-null object
TotRms AbvGrd      2930 non-null int64
Functional         2930 non-null object
Fireplaces         2930 non-null int64
Garage Cars        2929 non-null float64
Garage Area        2929 non-null float64
Paved Drive        2930 non-null object
Wood Deck SF       2930 non-null int64
Open Porch SF      2930 non-null int64
Enclosed Porch     2930 non-null int64
3Ssn Porch         2930 non-null int64
Screen Porch       2930 non-null int64
Pool Area          2930 non-null int64
Misc Val           2930 non-null int64
Mo Sold            2930 non-null int64
Yr Sold            2930 non-null int64
Sale Type          2930 non-null object
Sale Condition     2930 non-null object
SalePrice          2930 non-null int64
dtypes: float64(9), int64(28), object(27)
memory usage: 1.4+ MB

In this step, we have dropped 7 columns. We have 64 columns to use.

In [11]:
#The missing values in the numeric columns.
num_missing= df.select_dtypes(include= ['int','float']).isnull().sum()
fixable_numeric_cols= num_missing[(num_missing< len(df)/20)&(num_missing>0)].sort_values()
fixable_numeric_cols

BsmtFin SF 1       1
BsmtFin SF 2       1
Bsmt Unf SF        1
Total Bsmt SF      1
Garage Cars        1
Garage Area        1
Bsmt Full Bath     2
Bsmt Half Bath     2
Mas Vnr Area      23
dtype: int64

In [12]:
#The most common values of numeric columns.
replacement_values_dict= df[fixable_numeric_cols.index].mode().to_dict(orient='records')[0]
replacement_values_dict

{'BsmtFin SF 1': 0.0,
 'BsmtFin SF 2': 0.0,
 'Bsmt Unf SF': 0.0,
 'Total Bsmt SF': 0.0,
 'Garage Cars': 2.0,
 'Garage Area': 0.0,
 'Bsmt Full Bath': 0.0,
 'Bsmt Half Bath': 0.0,
 'Mas Vnr Area': 0.0}

In [13]:
#Fill the missing values in the numeric columns.
df= df.fillna(replacement_values_dict)
df.isnull().sum().value_counts()

0    64
dtype: int64

Now, our dataframe do not have any missing value.

In [14]:
years_sold= df["Yr Sold"]- df["Year Built"]
years_sold[years_sold<0]# To detec a wrong value that shows the building
## sold before it is build.

2180   -1
dtype: int64

In [15]:
years_since_remod= df["Yr Sold"]-df["Year Remod/Add"]
years_since_remod[years_since_remod<0]#To detect other values like as above.

1702   -1
2180   -2
2181   -1
dtype: int64

In [16]:
#Drop the columns which has wrong values.
df["Years Before Sale"]= years_sold
df["Years Since Remod"]= years_since_remod

df.drop([1702, 2180,2181], axis=0)
#we do not need the original year columns.
df= df.drop(["Year Built", "Year Remod/Add"],axis=1)

We have some columns which is not useful for our prediction.Let's drop them.

In [17]:
df= df.drop(["PID","Order","Mo Sold", "Sale Condition","Sale Type", "Yr Sold"],axis=1)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Data columns (total 58 columns):
MS SubClass          2930 non-null int64
MS Zoning            2930 non-null object
Lot Area             2930 non-null int64
Street               2930 non-null object
Lot Shape            2930 non-null object
Land Contour         2930 non-null object
Utilities            2930 non-null object
Lot Config           2930 non-null object
Land Slope           2930 non-null object
Neighborhood         2930 non-null object
Condition 1          2930 non-null object
Condition 2          2930 non-null object
Bldg Type            2930 non-null object
House Style          2930 non-null object
Overall Qual         2930 non-null int64
Overall Cond         2930 non-null int64
Roof Style           2930 non-null object
Roof Matl            2930 non-null object
Exterior 1st         2930 non-null object
Exterior 2nd         2930 non-null object
Mas Vnr Area         2930 non-null float64
Exter Qual           2930 non-null object
Exter Cond           2930 non-null object
Foundation           2930 non-null object
BsmtFin SF 1         2930 non-null float64
BsmtFin SF 2         2930 non-null float64
Bsmt Unf SF          2930 non-null float64
Total Bsmt SF        2930 non-null float64
Heating              2930 non-null object
Heating QC           2930 non-null object
Central Air          2930 non-null object
1st Flr SF           2930 non-null int64
2nd Flr SF           2930 non-null int64
Low Qual Fin SF      2930 non-null int64
Gr Liv Area          2930 non-null int64
Bsmt Full Bath       2930 non-null float64
Bsmt Half Bath       2930 non-null float64
Full Bath            2930 non-null int64
Half Bath            2930 non-null int64
Bedroom AbvGr        2930 non-null int64
Kitchen AbvGr        2930 non-null int64
Kitchen Qual         2930 non-null object
TotRms AbvGrd        2930 non-null int64
Functional           2930 non-null object
Fireplaces           2930 non-null int64
Garage Cars          2930 non-null float64
Garage Area          2930 non-null float64
Paved Drive          2930 non-null object
Wood Deck SF         2930 non-null int64
Open Porch SF        2930 non-null int64
Enclosed Porch       2930 non-null int64
3Ssn Porch           2930 non-null int64
Screen Porch         2930 non-null int64
Pool Area            2930 non-null int64
Misc Val             2930 non-null int64
SalePrice            2930 non-null int64
Years Before Sale    2930 non-null int64
Years Since Remod    2930 non-null int64
dtypes: float64(9), int64(24), object(25)
memory usage: 1.3+ MB

Now, we implement our first transform_features() function by using updates above.

In [19]:
def transform_features(df):
    num_missing= df.isnull().sum()
    drop_missing_cols= num_missing[(num_missing> len(df)/20)].sort_values()
    df= df.drop(drop_missing_cols.index, axis=1)
    
    text_mv_counts= df.select_dtypes(include=["object"]).isnull().sum().sort_values(ascending=False)
    drop_missing_cols_2= text_mv_counts[text_mv_counts >0]
    df= df.drop(drop_missing_cols_2.index, axis=1)
    
    num_missing= df.select_dtypes(include=["int", "float"]).isnull().sum()
    fixable_numeric_cols= num_missing[(num_missing < len(df)/20)& (num_missing>0)].sort_values()
    replacement_values_dict= df[fixable_numeric_cols.index].mode().to_dict(orient="records")[0]
    df= df.fillna(replacement_values_dict)
    
    years_sold= df["Yr Sold"]- df["Year Built"]
    years_since_remod= df["Yr Sold"]- df["Year Remod/Add"]
    df["Years Before Sale"]= years_sold
    df["Years Since Remod"]= years_since_remod
    df= df.drop([1702,2180,2181], axis=0)
    df= df.drop(["PID", "Order", "Mo Sold", "Sale Condition", "Sale Type", "Year Built", "Year Remod/Add"], axis=1)
    return df

Let's use our modified 'transform_features' function, and find the RMSE value.

In [20]:
df= pd.read_csv("AmesHousing.tsv", delimiter="\t")
transform_df= transform_features(df)
filtered_df= select_features(transform_df)
rmse= train_and_test(filtered_df)

print("Our second RMSE value after implementation: ",rmse)

Our second RMSE value after implementation:  55275.36731241307

### Feature Selection

In this step, we will make decision to select useful data for our prediction. After that we will modify our 'select_features' function according to our decision. And we will take a look to our RMSE value, again.

In [21]:
#Select the numeric columns.
numerical_df= transform_df.select_dtypes(include=["integer","float"])
numerical_df.head()

,MS SubClass,Lot Area,Overall Qual,Overall Cond,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,Total Bsmt SF,1st Flr SF,2nd Flr SF,Low Qual Fin SF,Gr Liv Area,Bsmt Full Bath,Bsmt Half Bath,Full Bath,Half Bath,Bedroom AbvGr,Kitchen AbvGr,TotRms AbvGrd,Fireplaces,Garage Cars,Garage Area,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Yr Sold,SalePrice,Years Before Sale,Years Since Remod
0,20,31770,6,5,112.0,639.0,0.0,441.0,1080.0,1656,0,0,1656,1.0,0.0,1,0,3,1,7,2,2.0,528.0,210,62,0,0,0,0,0,2010,215000,50,50
1,20,11622,5,6,0.0,468.0,144.0,270.0,882.0,896,0,0,896,0.0,0.0,1,0,2,1,5,0,1.0,730.0,140,0,0,0,120,0,0,2010,105000,49,49
2,20,14267,6,6,108.0,923.0,0.0,406.0,1329.0,1329,0,0,1329,0.0,0.0,1,1,3,1,6,0,1.0,312.0,393,36,0,0,0,0,12500,2010,172000,52,52
3,20,11160,7,5,0.0,1065.0,0.0,1045.0,2110.0,2110,0,0,2110,1.0,0.0,2,1,3,1,8,2,2.0,522.0,0,0,0,0,0,0,0,2010,244000,42,42
4,60,13830,5,5,0.0,791.0,0.0,137.0,928.0,928,701,0,1629,0.0,0.0,2,1,3,1,6,1,2.0,482.0,212,34,0,0,0,0,0,2010,189900,13,12

In [22]:
abs_corr_coeffs= numerical_df.corr()["SalePrice"].abs().sort_values()
abs_corr_coeffs

BsmtFin SF 2         0.006127
Misc Val             0.019273
Yr Sold              0.030358
3Ssn Porch           0.032268
Bsmt Half Bath       0.035875
Low Qual Fin SF      0.037629
Pool Area            0.068438
MS SubClass          0.085128
Overall Cond         0.101540
Screen Porch         0.112280
Kitchen AbvGr        0.119760
Enclosed Porch       0.128685
Bedroom AbvGr        0.143916
Bsmt Unf SF          0.182751
Lot Area             0.267520
2nd Flr SF           0.269601
Bsmt Full Bath       0.276258
Half Bath            0.284871
Open Porch SF        0.316262
Wood Deck SF         0.328183
BsmtFin SF 1         0.439284
Fireplaces           0.474831
TotRms AbvGrd        0.498574
Mas Vnr Area         0.506983
Years Since Remod    0.534985
Full Bath            0.546118
Years Before Sale    0.558979
1st Flr SF           0.635185
Garage Area          0.641425
Total Bsmt SF        0.644012
Garage Cars          0.648361
Gr Liv Area          0.717596
Overall Qual         0.801206
SalePrice            1.000000
Name: SalePrice, dtype: float64

In [23]:
#Keep columns that have correlation greater than 0.4.
abs_corr_coeffs[abs_corr_coeffs>0.4]

BsmtFin SF 1         0.439284
Fireplaces           0.474831
TotRms AbvGrd        0.498574
Mas Vnr Area         0.506983
Years Since Remod    0.534985
Full Bath            0.546118
Years Before Sale    0.558979
1st Flr SF           0.635185
Garage Area          0.641425
Total Bsmt SF        0.644012
Garage Cars          0.648361
Gr Liv Area          0.717596
Overall Qual         0.801206
SalePrice            1.000000
Name: SalePrice, dtype: float64

In [24]:
#Drop columns that have correlation less than 0.4.
transform_df=transform_df.drop(abs_corr_coeffs[abs_corr_coeffs<0.4].index,axis=1)

There are some columns, which are below, that are meant to be categorical.

In [25]:
nominal_features = ["PID", "MS SubClass", "MS Zoning", "Street", "Alley", "Land Contour", "Lot Config", "Neighborhood", 
                    "Condition 1", "Condition 2", "Bldg Type", "House Style", "Roof Style", "Roof Matl", "Exterior 1st", 
                    "Exterior 2nd", "Mas Vnr Type", "Foundation", "Heating", "Central Air", "Garage Type", 
                    "Misc Feature", "Sale Type", "Sale Condition"]

In [26]:
#We will keep some categorical columns to use.
transform_cat_cols=[]
for col in nominal_features:
    if col in transform_df.columns:
        transform_cat_cols.append(col)
#We will select the columns according to their uniqueness count.
uniqueness_counts= transform_df[transform_cat_cols].apply(lambda col:
                                                         len(col.value_counts())).sort_values()
#We will select the columns which have less than 10 unique values.
drop_ununiq_cols= uniqueness_counts[uniqueness_counts>10].index
transform_df= transform_df.drop(drop_ununiq_cols, axis=1)

In [27]:
#Convert the remaining object columns to categorical.
text_cols= transform_df.select_dtypes(include=["object"])
for col in text_cols:
    transform_df[col]= transform_df[col].astype("category")
    
#Add the remaining categorical columns to dataframe.
transform_df= pd.concat([transform_df, pd.get_dummies(transform_df.select_dtypes(include=["category"]))],
                       axis=1).drop(text_cols, axis=1)

Let's use our plan on the 'select_features' function.

In [28]:
def select_features(df,coeff_threshold=0.4,uniq_threshold=10):
    numerical_df=df.select_dtypes(include=["integer","float"])
    abs_corr_coeffs= numerical_df.corr()["SalePrice"].abs().sort_values()
    df=df.drop(abs_corr_coeffs[abs_corr_coeffs< coeff_threshold].index,axis=1)
    
    nominal_features = ["PID", "MS SubClass", "MS Zoning", "Street", "Alley", "Land Contour", "Lot Config", "Neighborhood", 
                    "Condition 1", "Condition 2", "Bldg Type", "House Style", "Roof Style", "Roof Matl", "Exterior 1st", 
                    "Exterior 2nd", "Mas Vnr Type", "Foundation", "Heating", "Central Air", "Garage Type", 
                    "Misc Feature", "Sale Type", "Sale Condition"]
    
    transform_cat_cols=[]
    for col in nominal_features:
        if col in df.columns:
            transform_cat_cols.append(col)
            
    uniqueness_counts= df[transform_cat_cols].apply(lambda col: len(col.value_counts()
                                                                   )).sort_values()
    drop_nonuniq_cols= uniqueness_counts[uniqueness_counts>10].index
    df= df.drop(drop_nonuniq_cols, axis=1)
    
    text_cols= df.select_dtypes(include=["object"])
    for col in text_cols:
        df[col]= df[col].astype("category")
        
    df=pd.concat([df,pd.get_dummies(df.select_dtypes(include=["category"]))],axis=1).drop(text_cols,axis=1)
    
    
    return df

Now, we have completed our feature selection process. Finally, we will improve our prediction function and discover the last RMSE value.

### Implementing Train and Test Function

We will give 0,1 and other values to k value. After that we will find the RMSE value.

In [29]:
def train_and_test(df, k=0):
    numeric_df= df.select_dtypes(include=["integer", "float"])
    features= numeric_df.columns.drop("SalePrice")
    lr= linear_model.LinearRegression()
    
    if k==0:
        train= df[:1460]
        test= df[1460:]
        
        lr.fit(train[features], train["SalePrice"])
        predictions= lr.predict(test[features])
        mse= mean_squared_error(test["SalePrice"], predictions)
        rmse= np.sqrt(mse)
        return rmse
    if k==1:
        shuffled_df= df.sample(frac=1, )
        train= df[:1460]
        test= df[1460:]
        
        lr.fit(train[features],train["SalePrice"])
        predictions_one= lr.predict(test[features])
        
        mse_one= mean_squared_error(test["SalePrice"],predictions_one)
        rmse_one= np.sqrt(mse_one)
        
        lr.fit(test[features],test["SalePrice"])
        predictions_two=lr.predict(train[features])
        
        mse_two=mean_squared_error(train["SalePrice"],predictions_two)
        rmse_two= np.sqrt(mse_two)
        
        avg_rmse= np.mean([rmse_one, rmse_two])
        print("For k=1:","\n","first rmse value: ",rmse_one,"\n","second rmse value: ",rmse_two)
        return avg_rmse
    else:
        kf=KFold(n_splits=k, shuffle=True)
        rmse_values=[]
        for train_index, test_index, in kf.split(df):
            train= df.iloc[train_index]
            test= df.iloc[test_index]
            lr.fit(train[features],train["SalePrice"])
            predictions= lr.predict(test[features])
            mse= mean_squared_error(test["SalePrice"],predictions)
            rmse=np.sqrt(mse)
            rmse_values.append(rmse)
            
        print("The list of RMSE values:",rmse_values)
        avg_rmse= np.mean(rmse_values)
        return avg_rmse

We have developed our last training and testing function.

In [30]:
df= pd.read_csv("AmesHousing.tsv", delimiter="\t")
transform_df= transform_features(df)
filtered_df= select_features(transform_df)
rmse= train_and_test(filtered_df, k=4)


rmse

The list of RMSE values: [35865.89255940577, 27695.438472590962, 26720.782941773265, 26242.48591499907]

29131.149972192266

In [31]:
rmse2= train_and_test(filtered_df, k=0)

print("The RMSE value for k=0:",rmse2)

The RMSE value for k=0: 33367.28718340389

In [32]:
rmse3= train_and_test(filtered_df, k=1)

rmse3

For k=1:
 first rmse value:  33367.28718340389
 second rmse value:  27155.13848482538

30261.212834114634